{% load staticfiles %}
<html ng-app="gem">

<head>
    <link href="{% static 'gem/bootstrap.min.css' %}" rel="stylesheet" />
    <script type="text/javascript" src="{% static 'gem/angular.min.js' %}"></script>
</head>
<body ng-controller="gemController as gCtrl">
  asdf [[ 1+1 ]]
  <br />
  [[gCtrl.x.foo]]

  <button ng-click="gCtrl.getjson()"> x </button>


  <script>
    var app = angular.module("gem",[]);
    app.config(function($interpolateProvider){
      $interpolateProvider.startSymbol("[[");
      $interpolateProvider.endSymbol("]]");
    });
    app.controller('gemController', ['$http', function($http){
      var store = this;
      this.x = {'foo': 'foo'};

      this.getjson = function(){
        $http.get(window.location.href+'getjson').success(function(data){
          store.x = data;
        });
      };
    }]);
  </script>
<body>
</html>
